.txt-1 {
  font-family: $Calibri;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: -0.05rem;
  color: $black;
}
.txt-2 {
  font-family: $Calibri;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
}
.txt-3 {
  font-family: $Calibri;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: -0.05rem;
}
.txt-4 {
  font-size: 18px;
  line-height: 22px;
  font-family: $Calibri;
}
.txt-4_bold {
  font-weight: 700;
}
.btn-text-l {
  font-family: $Calibri;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  letter-spacing: -.5%;
  text-transform: uppercase;
  color: $saphire;
}
.btn-text-m {
  font-family: $Calibri;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: -.5%;
  text-transform: uppercase;
  font-weight: 700;
  color: $saphire;
}

@media screen and (max-width: 450px) {
  .txt-1 {
    font-size: 24px;
    line-height: 29px;
  }
  .txt-2{
    font-size: 14px;
    line-height: 24px;
  }
  .txt-3 {
    font-size: 14px;
    line-height: 17px;
  }
  .txt-4 {
    font-size: 14px;
    line-height: 17px;
  }
  .btn-text-m, .btn-text-l {
    font-size: 18px;
    line-height: 21px;
  }
}



