//color
$beige: #F9E7D9;
$dblue: #001185;
$orange: #FA8E5A;
$white: #fff;
$black: #000;
$saphire: #001185;

//transition
$t-eo: .25s ease-out;

//ff
$Prib: 'Pribambas', "Arial", "sans-serif";
$Calibri : 'Calibri', 'Arial', 'sans-serif';

//shadow
$bshadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
