.btn {
  max-width: 340px;
  padding: 0 60px;
  height: 70px;
  background-color: $orange;
  border: 2px solid #FA8E5A;
  box-sizing: border-box;
  border-radius: 50px;
  font-size: 18px;
  line-height: 22px;
  letter-spacing:  -0.05rem;
  transition: $t-eo;
  &-lg {
    width: 422px;
    height: 87px;
  }
  &-sm{
    width: 160px;
    height: 50px;
  }
  &:hover, &:focus {
    cursor: pointer;
    background: linear-gradient(to left, #ff5e19 20%, $orange 50%, #FBAC86 80%);
  }
  &:active {
    background: $white;
  }
  &_white {
    background: $white;
    &:hover {
      cursor: pointer;
      border: 2px solid $orange;
    }
  }
}

@media screen and (max-width: 768px) {
  .btn {
    //width: 245px;
    height: 50px;
    &-lg {
      width: 245px;
      height: 50px;
    }
  }
}
