.btn {
  width: 422px;
  height: 87px;
  padding: 25px 56px;
  //display: flex;
  //place-content: center;
  //place-items: center;
  background-color: $orange;
  border: 2px solid #FA8E5A;
  box-sizing: border-box;
  border-right: 50px;
  &:hover {
    cursor: pointer;
    background-color: #ff5e19;
  }
  &:active {
    background-color: $white;
  }
  &:first-of-type {
    padding: 20px 45px;
    width: 340px;
    height: 70px;
  }
  &_white {
    background: $white;
    &:hover {
      cursor: pointer;
      border: 2px solid $orange;
    }
  }
}

