.logo {
  &__picture {
    max-width: 102px;
    max-height: 94px;
    padding: 3px 0;
  }
}

@media screen and (max-width: 768px){
  .logo {
    &__picture {
      max-width: 57px;
      max-height: 53px;
      padding: 8px 0;
    }
  }
}