.description {
  padding: 60px 218px;
  &__text {
    margin: 0 0 30px 0;
    &:last-of-type {
      margin: 0;
    }
  }
}

@media screen and (max-width: 768px){
  .description {
    padding: 26px;
    &__wrapper {
      margin: 0 auto;
    }
    &__text {
      text-align: left;
      margin: 0 0 24px 0;
    }
  }
}
