.header {
  display: flex;
  align-items: center;
  min-height: 102px;
  background: $beige;
  &__wrapper {
    box-shadow: $bshadow;
    padding: 0 87px 0 65px;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &_fixed {
    position: sticky;
    top: 0;
  }
  &__mobile-bar {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .header {
    min-height: 84px;
    &__wrapper {
      padding: 9px 58px 8px 45px;
    }
  }
}

@media screen and (max-width: 768px) {
  .header {
    position: relative;
    min-height: 70px;
    flex-direction: column;
    align-items: flex-start;
    z-index: 2;
    &__wrapper {
      padding: 9px 40px 8px 25px;
    }
    &__mobile-bar {
      width: 100%;
      display: flex;
      position: absolute;
      top: 74px;
      left: 0;
      z-index: 2;
      background: $beige;
      box-shadow: $bshadow;
      &_hidden {
        display: none;
      }
      &-wrapper {
        align-self: flex-start;
        padding: 10px 40px 10px 25px;
      }
      &-overlay {
        display: block;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        min-width: 320px;;
        height: 100vh;
        background: rgba($black, .75);
        &_hidden {
          display: none;
        }
      }
    }
  }
}
