.navigation {
  display: flex;
  justify-content:space-between;
  align-items: center;
  &__link {
    margin-right: 60px;
    font-size: 18px;
    line-height: 18px;
    font-family: $Prib;
    color: $black;
    text-transform: uppercase;
    text-decoration: none;
    transition: $t-eo;
    &:last-of-type {
      margin-right: 0;
    }
    &:hover{
      transform: scale(1.1);
      color: $dViolet;
    }
    &_active {
      color: $saphire;
      transform: scale(1.1);
    }
  }
}


@media screen and (max-width: 1024px) {
  .navigation {
    &__link {
      margin-right: 30px;
    }
  }
}

@media screen and (max-width: 768px) {
  .navigation{
    flex-direction: column;
    align-items: flex-start;
    &__link {
      margin-right: 0;
      margin-bottom: 12px;
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

}
