.partners {
  padding: 75px 170px;
  &__title {
    font-family: $Prib;
    font-size: 36px;
    line-height: 36px;
    letter-spacing: 0.02rem;
    text-align: center;
    margin: 0 0 35px 0;
  }
  &__list {
    padding: 0;
    list-style: none;
    margin: 0 0 50px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 50px;
  }
  &__logo {
    max-width: 150px;
    max-height: 50px;
    filter: grayscale(100%);
    transition: $t-eo;
    &:hover {
      filter: grayscale(0%);
      transform: scale(1.25);
    }
  }
}

@media screen  and (max-width: 768px){
  .partners {
    padding: 25px;
    &__list {
      margin: 0 0 50px 0;
      row-gap: 25px;
    }
    &__title{
      font-size: 24px;
      &:first-of-type {
        margin: 0 0 30px 0;
      }
    }


  }
}
