.afisha {
  height: 190px;
  background: $beige;
  box-shadow: $bshadow;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .afisha {
    height: 100px;
  }
}
