@import "./vendor/normalize";
@import './vendor/fonts/fonts';
@import './assets/scss/vars';
@import './assets/scss/basic';
@import "./components/Header/header";
@import "./components/Logo/logo";
@import "./components/NavBar/navbar";
@import "./components/Burger/burger";
@import "./components/Button/button";
@import "./components/Main/main";
@import "./components/About/about";
@import "./components/Timer/timer";
@import "./components/Description/description";
@import "./components/Afisha/afisha";
@import "./components/Project/project";
@import "./components/Card/card";
@import "./components/Partners/parnters";
@import "./components/Footer/footer";
@import "./components/Social-menu/social-menu";

@import "./components/Article/article";

#root {
  font-family: $Calibri;
  margin: 0 auto;
  max-width: 1440px;
  min-width: 320px;
  box-sizing: border-box;
  padding: 40px;
}

@media screen and (max-width: 768px){
  #root {
    padding: 0;
  }
}
