@import "./vendor/normalize";
@import './vendor/fonts/fonts.scss';
@import './assets/scss/vars.scss';
@import './assets/scss/basic.scss';
@import "./components/Header/header.scss";
@import "./components/Logo/logo.scss";
@import "./components/NavBar/navbar.scss";
@import "./components/Burger/burger.scss";
@import "./components/Button/button.scss";
@import "./components/About/about.scss";
@import "./components/Footer/footer.scss";
@import "./components/Social-menu/social-menu.scss";

#root {
  margin: 0 auto;
  max-width: 1440px;
  min-width: 320px;
  box-sizing: border-box;
  padding: 40px;
}

@media screen and (max-width: 768px){
  #root {
    padding: 0;
  }
}
